*.iml
*.ipr
*.iws
*.swp
.metadata
.buildpath
.classpath
.clover
.gradle
.project
.settings
.DS_Store
.idea
build
out

/sqlnet.log
/db/libs/
META-INF

*.iml
*.orig
.idea
out/
/work
target/
classes/
jmeter.log
*~
src/main/scala/notused